<div class="component">
    <div class="mainTitle">

       <p> {{'ui.home.titleHome'| translate }} </p>
    </div>
    <div class="mainDescription scrollbar-basic" #mainDescription (pointerdown)="stopScrolling()">
        <div class="textDescription" #textDescription [innerHTML]="'ui.home.descriptionHome' | translate"></div>

    </div>
    <div class="mainButtons">
        <a routerLink="/witraze">
            <div class="witrazeButton button">
                <p> {{'ui.home.oWitrazach'| translate }} </p>
                <img class="rightArrow" src="assets/icons/right.png" >

            </div>
        </a>
        <a routerLink="/plytki">
            <div class="plytkiButton button">
                <p> {{'ui.home.oPlytkach'| translate }} </p>
                <img class="rightArrow" src="assets/icons/right.png" >

            </div>
        </a>
      
    </div>
    <div class="mainLanguage">
        <button (click)="plLanguage(lang)" #plButton class="languageButton">
            PL
        </button>
        <button (click)="enLanguage(lang)" #enButton class="languageButton">
            EN
        </button>
    </div>
</div>