<div class="component">
    <div class="mainTitle">
        <p> {{'ui.witraze.titleWitraze'| translate }} </p>
    </div>
   
    <div class="mainDescription scrollbar-basic" #mainDescription (pointerdown)="stopScrolling()">
        <div class="textDescription" #textDescription [innerHTML]="'ui.witraze.descriptionWitraze' | translate"></div>

    </div>
    <div class="exitButtonsContainer">
        <a routerLink="/home">

            <div class="exitButton button">
                <img class="exitArrow" src="assets/icons/exit.png">
                <p> {{'ui.witraze.back'| translate }} </p>
            </div>
        </a>
    </div>
    <div class="mainLanguage">
        <button (click)="plLanguage(lang)" #plButton class="languageButton">
            PL
        </button>
        <button (click)="enLanguage(lang)" #enButton class="languageButton">
            EN
        </button>
    </div>
</div>