/* You can add global styles to this file, and also import other style files */
*{
  user-select: none;
}

html{
  touch-action: none;
}

html,
body {

  width: 1080px;
  height: 1920px;
  background-color: rgb(161, 202, 113);
  margin: 0px;
  color: white;
  background: #1C1B1C;

}

@font-face {
  font-family: 'Museo Sans';
  src: url('./assets/fonts/MuseoSans_700.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('./assets/fonts/MuseoSans_500.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('./assets/fonts/MuseoSans-300.otf');
  font-weight: 300;
}

//app component

.mainLanguage {
  margin-top: 80px;
  display: flex;
  height: 44px;
  width: 187px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.languageButton{
  width: 62px;
  height: 41px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 36px;
  background-color: #1C1B1C;
  border: 0px;
  font-family: 'Museo Sans';
  font-weight: 300;
  color: #FFFFFF;
  opacity: 0.3
  
}

.languageActive{
  font-family: 'Museo Sans';
  font-weight: 700;
  opacity: 1;
  

}
//component home
.component {
  width: 927px;
  margin-left: 78px;
  margin-right: 58px;
  color: #FFFFFF;
}

.mainDescription {
 
  height: 1350px;
  width: 927px;
  font-size: 32px;
  line-height: 42px;
  text-align: justify;
 // padding-top: 59px;
  overflow:scroll;
  padding-right: 30px;
  font-family: 'Museo Sans';
  font-weight: 500;
  margin: 0px;
  transition: opacity 0.3s ease-in-out;

  &::-webkit-scrollbar {
    width: 7.34px;
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.56);
    border-radius: 60px;
  }
}

.textDescription{
  overflow: hidden;
}

.mainContainer {
  box-sizing: content-box;
}

.mainTitle {
  padding-top: 64px;
//  background-color: aqua;
  font-size: 50px;
  line-height: 60px;
  font-family: 'Museo Sans';
  font-weight: 700;

}



.mainButtons {
  margin-top: 80px;
  display: flex;
  height: 99px;
  width: 732px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;

}

.mainButtons a {
  text-decoration: none;

}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 346.01px;
  height: 98.83px;
  font-family: 'Museo Sans';
  font-weight: 500;
  border: 1.60707px solid #FFFFFF;
}

.button p {
  text-decoration: none !important;
  color: #FFFFFF;
  font-size: 29.7177px;
  line-height: 36px;
}

.rightArrow {
  height: 27.3px;
  width: 21.7px;
  margin-left: 21px;
}

.exitArrow {
  height: 27.3px;
  width: 21.7px;
  margin-right: 21px;
}


.exitButtonsContainer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.exitButtonsContainer a {
  text-decoration: none;

}


// @mixin scrollbar-basic {
//   overflow: scroll;

//   &::-webkit-scrollbar {
//     width: 7.34px;
//     height: 0px;
//   }

//   &::-webkit-scrollbar-thumb {
//     background: rgba(255, 255, 255, 0.56);
//     border-radius: 60px;
//   }

// }

// ::-webkit-scrollbar {
//   display: none;
// }