.mainDescription {
  height: 1442px;
  width: 971px;
  margin-left: auto;
  margin-right: auto;
}

.mainContainer {
  box-sizing: content-box;
}

.mainTitle {
  padding-top: 64px;
  background-color: aqua;
}

.mainDescription {
  height: 1442px;
  width: 971px;
  background-color: gold;
  margin-left: auto;
  margin-right: auto;
}

.mainButtons {
  margin-top: 80px;
  display: flex;
  background-color: red;
  height: 99px;
  width: 732px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 346.01px;
  height: 98.83px;
  border: 1.60707px solid #FFFFFF;
}
